* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.title ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #FF0000;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 78px;
}
.change_btn {
    padding: 10px;
    background-color: black;
}
.background {
    width: 100%;
    height: 789px;
    background-image: url("../images/bcg_alt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    background-color: #e9eaeb;
    text-align: center;
    line-height: 65px;
    padding: 0 150px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
p{
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
button{
    display: inline-block;
    background-color: #FF0000;
    border: none;
    color:white;
    width: 200px;
    line-height: 50px;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    border-radius: 9px;
    cursor: pointer;
}
.copyright{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    padding: 25px 150px;
}
