.wrapper{
    width: 1283px;
    background-color: white;
    margin: 0 auto;
    letter-spacing: 1px;
}
*{
    box-sizing: border-box;
}
header{
    margin-top: 61px;
    width: 1283px;
    height: 189px;
}
h1{
    width: 292px;
    height: 74px;
    font-size: 80px;
    text-align: left;
}
.hightlighted-text{
    color: #4BCAFF;
}
.top-menu{
    width: 1281px;
    height: 70px;
    background-image: url("../images/hover/top-menu-fon.png");
    margin-top: 44px;
    font-size: 24px;
}
.top-menu-buttons {
    overflow: hidden;
}
.top-menu-button1{
    float: left;
    width: 490px;
    text-align: right;
    padding: 20px 10px;
}
.top-menu-button1:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.top-menu-button1-1 {
    display: inline;
    margin: 25px 30px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
.top-menu-button2{
    float: left;
    width: 150px;
    text-align: center;
    padding-top: 22px;
}
.top-menu-button2:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.top-menu-button2-2 {
    display: inline;
    text-decoration: none;
    color: white;
    margin-top: 22px;
}
.top-menu-button3{
    float: left;
    width: 320px;
    text-align: center;
    padding-top: 22px;
}
.top-menu-button3:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.top-menu-button3-3 {
    display: inline;
    text-decoration: none;
    color: white;
}
.top-menu-button4{
    float: left;
    width: 319px;
    height: 70px;
    text-align: center;
    padding-top: 22px;
}
.top-menu-button4:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.top-menu-button4-4 {
    display: inline;
    text-decoration: none;
    color: white;
}
.container{
    margin-top: 67px;
}
.main-img:hover {
    transform: scale(1.2);
    transition: 333ms;
}
.left-menu{
    width: 344px;
    height: 399px;
    font-size: 30px;
    margin-left: 100px;
    border: 2px solid #35444F;
    float: left;
}
.left-menu-button1{
    width: 340px;
    /*height: 79px;*/
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}
.left-menu-button1:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    font-size: 35px;
}
.left-menu-button1-1 {
    text-decoration: none;
    color: #495863;
    vertical-align: middle;
}
.left-menu-button2{
    width: 340px;
    /*height: 79px;*/
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}
.left-menu-button2:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    font-size: 35px;
}
.left-menu-button2-2 {
    text-align: center;
    text-decoration: none;
    color: #495863;
}
.left-menu-button3{
    width: 340px;
    /*height: 79px;*/
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}
.left-menu-button3:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    font-size: 35px;
}
.left-menu-button3-3 {
    text-align: center;
    text-decoration: none;
    color: #495863;
}
.left-menu-button4 {
    width: 340px;
    /*height: 79px;*/
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}
.left-menu-button4:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    font-size: 35px;
}
.left-menu-button4-4 {
    text-align: center;
    text-decoration: none;
    color: #495863;
}
.left-menu-button5{
    width: 340px;
    /*height: 79px;*/
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}
.left-menu-button5:hover {
    background-color: #DBDBDB;
    font-size: 35px;
    font-weight: bold;
}
.left-menu-button5-5 {
    text-align: center;
    text-decoration: none;
    color: #495863;
}
.container {
    display: inline-block;
}
.main-content{
    float: right;
    width: 885px;
    height: 832px;
    margin-right: 100px;
}
.clearfix{
    clear: both;
}
.main-background {
    width: 885px;
    height: 529px;
    border: 2px solid #35444F;
    vertical-align: middle;
    text-align: center;
    padding-top: 74px;
}
.p1{
    width: 815px;
    height: 144px;
    margin-top: 40px;
    margin-left: 35px;
    font-size: 18px;
}
.p2{
    width: 820px;
    height: 109px;
    margin-left: 35px;
    font-size: 18px;
}
.end-of-page {
    width: 1280px;
    height: 69px;
    margin: 0px auto;
    margin-top: 90px;
    font-size: 28px;
    background-color: #B4B7BA;
}
.last-buttons {
    display: inline-block;
    width: 809px;
    text-align: left;
    font-size: 25px;
    padding-left: 40px;
    padding-top: 20px;
}
.last-links {
    text-decoration: none;
    padding-left: 10px;
    color: black;
}
.last-links:hover {
    color: blue;
    text-decoration: underline;
}
.copyr {
    display: inline-block;
    padding-left: 220px;
    padding-bottom: 20px;
}