/*input:checked + label {
    background: blue;
    color: white;
}
input {
    display: none;
    /*opacity: 0;
     visibility: hidden--- not good idea, becouse chechbox still on screen but invisible*/
/*label {
    display: inline-block;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    border: 1px solid blue;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}*/
span {
    display: inline-block;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    /*border: 1px solid blue;*/
    border-radius: 0;
    user-select: none;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 255, 0.28);
}
input:checked + span {
    background: #0000ce;
}
label {
    float: left;
}
label:first-child span {
    border-radius: 4px 0 0 4px;
}
label:last-child span {
    border-radius: 0 4px 4px 0;
}
label:focus {
    outline: 2px solid #000000;
}