table {
    --bdr-color: #37800b;
    --bdr: 1px solid var(--bdr-color);
    --bg: rgb(237, 237, 237);

    background: var(--bg);
    background: rgba(167, 158, 156, 0.2);
    border: var(--bdr);
    /*border-collapse: collapse;*/
    width: 100vw;
    position: relative;
    border-spacing: 0;
}
th, td {
    border: var(--bdr);
    padding: 4px;
}
thead {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    background: var(--bg);
}
th {
    position: sticky;
    top: 0;
    background: var(--bg);
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
thead tr:nth-child(2) th {
    top: 28px;
}
thead tr:nth-child(2) th,
thead tr:first-child th:first-child,
thead tr:first-child th:last-child {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.4);
               /* 0 10px 10px 0 red;*/
}
thead tr {
    height: 28px;
}
td {
    min-width: 200px;
}
.table-wrapper {
    overflow: auto;
    max-height: 400px;
}
tr:first-child th:first-child,
td:first-child,
tr:first-child th:last-child,
td:last-child{
    position: sticky;
    left: 0;
    background: var(--bg);
}
tr:first-child th:last-child,
td:last-child {
    right: 0;
    left: initial;
}
tr:first-child th:first-child,
tr:first-child th:last-child,
tfoot td:first-child {
    z-index: 1;
}
tfoot td {
    position: sticky;
    bottom: 0;
    background: var(--bg);
}
td:nth-child(2) {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, transparent 10%) ;
}
/* for button */
/*box-shadow:inset 0 -57px 0 -50px color*/
button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

}