body {
  background-color: #f0f00d; }

.page-body {
  font-size: 16px;
  color: #fa0303;
  text-align: center;
  padding: 50px 100px;
  cursor: pointer; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  background-color: #f0fff0; }
  .menu__item {
    border-bottom: 2px solid #000; }
  .menu__link {
    font-size: 18px;
    font-weight: 800;
    color: #292964;
    text-decoration: none; }
