.menu {
    @extend %list-none;
    @include transforms(translateX(30px));
    @include grid(4, 10px, 60px);
    background-color: #f0fff0;
}

.menu__item {
    border-bottom: 2px solid #000;
}

.menu__link {
    font-size: 18px;
    font-weight: 800;
    color: #292964;
    text-decoration: none;
    &--active {
        margin: auto;
        text-transform: uppercase;
    }
}