div{
    border: 1px solid black;
}
.parent {
    width: 498px;
    height: 498px;
    display: flex;
    align-items: center;
    /*/*align-content: space-between;*! its mean row*/
    /*flex-wrap: wrap;*/
    justify-content: space-around;
}
.child {
    width: 198px;
    height: 98px;
}
.child:nth-child(2) {
    width: 148px;
    height: 198px;
    /*flex-grow: 1.5;*/
}
.child:first-child {
    /*flex-grow: 0.5;*/
    flex-shrink: 0;
}

/*div {*/
/*    border: 1px solid black;*/
/*}*/
/*.parent {*/
/*    width: 500px;*/
/*    height: 500px;*/
/*}*/
/*.child {*/
/*    display: inline-flex;*/

/*}*/