
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.header {
    padding: 50px 0;
    background: blue;
    color: white;
    height: 100vh;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}
.sub_title {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    align-self: flex-start;
}

.contacts {
    padding: 30px 0;
}
.contacts .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact_block {
    width: 30%;
}
.contact_block:not(:first-child) {
    margin-top: 1rem;
}
.head_top {
    color: white;
    font-size: 1rem;
    padding: .5rem;
    background: #333;
    font-weight: bold;
    white-space: nowrap;
}
.contact_links {
    display: flex;
}
.contact_links li:not(:first-child) {
    margin-left: 18px;
}