.window {
    display: none;
    border: 1px solid maroon;
    position: fixed;
    max-height: 80vh;
    max-width:50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
    z-index: -1;
}
.backdrop {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 206, 0.29);
}
.close {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid crimson;
    border-radius: 10px;
    line-height: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.window:target {
    display: block;
}
.window:target + .backdrop {
    display: none;
}
/*#lorem {
    color: red;
}
#lorem:target {
    font-size: 30px;
}*/
