[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 5px;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) scale(0);
    white-space: nowrap;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0;
}
[data-tooltip]::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    /*top: calc(50%-5px*/ /*if we know height of px*/
    opacity: 0;
}
[data-tooltip]:before,
[data-tooltip]:after {
    opacity: 0;
    transition: all 200ms;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    opacity: 1;
    transform: scale(1);
}