.huge {
    font-size: 50px;
}
#mytitle {
    color: blue;
}
* {
    background: yellow;
}
[class="title"] {
    letter-spacing: 20px;
}
/*includes*/
[class*="title"] {
    letter-spacing: 40px;
}
/*starts with*/
[class^="title"] {
    background: white;
}
[class$="title"] {
    background-size: cover;
}
h2, p {
    color: blue;
}

.container li {
    color: red;
}
.container p a {
    text-decoration: ;
}
.container > a {
    text-decoration: line-through;
}
.container a + p {
    font-size: 20px;
}
.container p + p + p {
    color: #16A085;
}
/*0000            0     0     0               0*/
/*cl,attr+imp    imp    id   class,attr   tags*/
/*tag-class-id-important*/

/*122*/
/*112*/


