.container {
    font-size: 30px;
}
.description {
    font-size: 20px;
   /* font-size: 110%; size from father*/
   /*font-size: 1.1em; the same like %*/
   /* font-size: 1.1rem; size form html*/
    /*width: 1.1em;size aspecialy form father*/
    /*width: 80vw % form size screen*/
    /*height:80;height of screen*/
}
main {
    min-height: calc(100vh - 60px);
}
