html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../img/stamp.jpg");
    color: #333;

}
p {
    margin: 1.5rem;
}
.section {
    padding: 50px 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.title {
    text-align: center;
    /*14px+1.57rem=22px*/
    font-size: 1.57rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2rem 0;
}
.subtitle {
    font-size: 1.21rem;
    text-align: center;
    margin: 1.5rem 0;
}
.title-break {
    margin: 3.57rem auto;
    width: 60px;
    height: 3px;
    background: orange;
    border: none;
}
.contact-form {
    width: 50%;
    float: left;
}
.contact-details {
    width: 30%;
    float: right;
}
.clearfix {
    clear: both;
}
.block-title {
    font-size: 1.29rem;
    color: white;
    background: #333;
    padding: 0.86rem 1.43rem;
    width: 66%;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.hightlighted-text {
    color: orange;
}
.fieldset {
    font-size: 0;
}
.form-control {
    background: transparent;
    padding: 1rem;
    border: 1px solid gray;
    font-style: italic;
    font-size: 1rem;
}
.name-control {
    margin-right: 2rem;
}
.name-control, .email-control {
    width: calc(50% - 1rem);
}
.message {
    margin: 1.5rem 0;
    width: 100%;
    resize: none;
}
button {
    color: white;
    background: orange;
    width: 8.3rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    padding: 1rem 0;
    margin-right: 1rem;

}
.contact-item i {
    color: orange;
    display: inline-block;
    background: #333;
    padding: 0.7rem;
    width: 2.4rem;
    text-align: center;

}
.contact-item a {
    text-decoration: none;
}
.contact-item {
    margin-bottom: 0.8rem;

}