form{
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
}
button{
    border: none;
    background: transparent;
}
i{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}