body {
    margin: 0;
}
.container {
    perspective: 100px;
    height: 100vh;
    overflow-y: auto;
}
.section {
    display: flex;
    height: 60vh;
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: inset 0 0 1px black ;
}
.section-1 {
    background: rgba(0, 0, 255, 0.57);
    transform: translateZ(-10px) scale(1.1);
}
.section-2 {
    background: rgba(0, 0, 255, 0.37);
    transform: translateZ(-20px) scale(1.2);
}
.section-3 {
    background: rgba(0, 0, 255, 0.25);
    transform: translateZ(20px) scale(0.8);
}
.section-4 {
    background: rgba(0, 0, 171, 0.16);
    transform: translateZ(10px) scale(0.9);
}
/*.section-5 {*/
/*    transform: scale(.5);*/
/*    transform-origin: top left;*/
/*}*/
/*.section-6 {*/
/*    transform: rotate(3deg);*/
/*    transform-origin: right bottom;*/
/*}*/

