body {
    margin: 0;
}
.parent {
    border: 1px solid black;
    height: 50px;
}
.box {
    width: 50px;
    height: 50px;
    background: blue;
    position: absolute;
    /*transition: transform 2s 1s cubic-bezier(0.12, 0.64, 0.65, 1);*/
    /*transition-property: background-color, transform;*/
}
.parent .box {
    animation-name: shake-little;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /*animation-fill-mode: both; !*backwards and forwards is both; help for delay, starting on start animation*!*/
    /*animation-direction: reverse;*/
    animation-direction: alternate;
    /*animation-iteration-count: 1;*/
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
.parent:hover .box {
    animation-fill-mode: both;
    animation-play-state: running;
    /*transform: translateX(calc(100vw - 51px)) rotate(180deg);*/
    /*background-color: red;*/
    /*animation-name: shake-little;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 1s;*/
    /*animation-timing-function: linear;*/
    /*animation-fill-mode: both; !*backwards and forwards is both; help for delay, starting on start animation*!*/
    /*animation-direction: reverse;*/
    /*animation-iteration-count: 1;*/
}
@keyframes shake-little {
    0% {
        left: calc(50% - 25px - 100px);
    }
    100% {
        /*transform: translateX(0px);*/
        left: calc(50% - 25px + 100px);}
    25% {
        /*transform: translateX(30px);*/
    }
    75% {
        /*transform: translateX(-30px);*/
    }
}

