* {
    max-width: 1980px;
}
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/*-------------------------HEADER-----------------------------*/
.header {
    height: 445px;
    background: url("../images/header/header-bg-img.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
}
.first_header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #1D2124;
    color: #FFFFFF;
}
.header_logo {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 70px;
    height: 70px;
    background-color: #1A1D20;
    background: url("../images/header/logo.png") center no-repeat;
}
.top_header {
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.top_hrefs {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    margin: 0 17px 0 0;
}
.icon_header {
    width: 68px;
    height: 70px;
    background: #171A1C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
}
.second_header {
    position: relative;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}
.nav_menu {
    position: absolute;
    top: 20px;
    display: flex;
    text-transform: uppercase;
}
.nav_menu a {
    padding: 0 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}
.nav_menu a:hover {
    color: #18B4CF;
    font-weight: bold;
}
.intro_title {
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btns {
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 7px;
    border: none;
    margin: 17px 16px;
}
.btn_1 {
    background: #89CA62;
}
.btn_2 {
    background: #14B9D5;
}
/*--------------------main--------------------*/
.main-content {
    height: 1030px;
    background: #F2F2F2;
}
.main_header {
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: bold;
}
.main_post {
    display: flex;
    height: 900px;
    flex-direction: column;
    align-content: space-between;
    width: 1150px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.main_box {
    margin-top: 22px;
    background: #FFFFFF;
}
.main-content_1 {
    width: 370px;
    height: 320px;
    order: 1;
}
.post_img_1 {
    width: 100%;
    height: 259px;
    background: url("../images/main/post-1.png") center no-repeat;
}
.main-content_2 {
    height: 441px;
    width: 370px;
    order: 4;
}
.post_img_2 {
    width: 100%;
    height: 380px;
    background: url("../images/main/post-2.png") center no-repeat;
}
.main-content_3 {
    width: 370px;
    height: 355px;
    order: 5;
}
.post_img_3 {
    width: 100%;
    height: 290px;
    background: url("../images/main/post-3.png");
}
.main-content_4 {
    width: 370px;
    height: 321px;
    order: 2;
}
.post_img_4 {
    width: 100%;
    height: 260px;
    background: url("../images/main/post-4.png");
}
.main-content_5 {
    width: 370px;
    height: 309px;
    order: 4;
}
.post_img_5 {
    width: 100%;
    height: 247px;
    background: url("../images/main/post-5.png");
}
.main-content_6 {
    width: 370px;
    height: 441px;
    order: 6;
}
.post_img_6 {
    width: 100%;
    height: 380px;
    background: url("../images/main/post-6.png");
}
.post_text {
    font-size: 18px;
    color: #353A3D;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
/*-----------------------next block--------------------------*/
.middle_content {
    height: 588px;
    background: url("../images/main/layer_4.jpeg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
    display: grid;
    justify-content: center;
    align-content: center;
}
.middle_content_rows {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: 30px 2px 60px;
    grid-template-areas:"H H H H"
                         "s_l s_l s_l s_l"
                         "natio dryme house journy";
    grid-gap: 50px;
    align-items: center;
}
.middle_title {
    text-transform: uppercase;
    font-size: 32px;
    color: #FFFFFF;
    /*grid-area: H;*/
}
.separate_line {
    width: 60px;
    color: #169CB4;
    border: 2px solid #169CB4;
    /*grid-area: s_l;*/
}
/*.middle_content_position {*/
/*    width: 881px;*/
/*    margin: 0 auto;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*}*/
/*.middle_icons {*/
/*   display: inline-block;*/
/*}*/
.md_title {
    grid-area: H;
}
.s_line {
    grid-area: s_l;
}
.national {
    grid-area: natio;
}
.dryme {
    grid-area: dryme;
}
.house {
    grid-area: house;
}
.journy {
    grid-area: journy;
}
/*-----------------next block---------------*/
.top_rated {
    position: relative;
    height: 381px;
    background: #FFFFFF;
}
.top_rated_box {
    overflow: hidden;
    display: grid;
    grid-gap: 0;
    align-items: center;
    /*grid-template-columns: repeat(7, 13% 1fr);*/
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: "h h h h h h h"
                          "q w e r t y u";
}
.top_rated_box h3 {
    grid-area: h;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18B4CF;
}
.q {
    grid-area: q;
    min-width: 13%;
}
.w {
    grid-area: w;
    min-width: 13%;
}
.e {
    grid-area: e;
    min-width: 13%;
}
.r {
    grid-area: r;
    min-width: 13%;
}
.t {
    grid-area: t;
    min-width: 13%;
}
.y {
    grid-area: y;
    min-width: 13%;
}
.u {
    grid-area: u;
    min-width: 13%;
}
/*----------------------next block -----------------------*/
.hot_news {
    height: 1683px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 277px 227px 227px 277px;
    grid-template-rows: 70px 259px 416px 416px 259px;
    grid-column-gap: 50px;
    grid-row-gap: 32px;
    justify-content: center;
    align-content: center;
    grid-template-areas: "h_n_3 h_n_3 h_n_3 h_n_3"
                         "n_1 n_1 n_1 n_2"
                         "n_3 n_3 n_4 n_4"
                         "n_5 n_5 n_6 n_6"
                         "n_7 n_8 n_8 n_8";
}
.hot_news h3 {
    color: #18B4CF;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    grid-area: h_n_3;
}
.news_1 {
    grid-area: n_1;
    display: flex;
    flex-direction: row;
}
.news_2 {
    grid-area: n_2;
}
.news_3 {
    grid-area: n_3;
}
.news_4 {
    grid-area: n_4;
}
.news_5 {
    grid-area: n_5;
}
.news_6 {
    grid-area: n_6;
}
.news_7 {
    grid-area: n_7;
}
.news_8 {
    grid-area: n_8;
    display: flex;
    flex-direction: row;
}
.n_h_1 {
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    text-align: right;
    padding: 20px 25px;
}
.n_h_2 {
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    text-align: center;
    padding: 12px;
}
.bcg_bot {
    background-color: #F9F7F7;
}
.bot_text {
    padding: 0 27px 18px 22px;
    text-overflow: clip;
    overflow: hidden;
    text-align: right;
    font-size: 14px;

}
/*-------------------footer------------------*/
footer {
    /*height: 50px;*/
    background: #1D2124;
}
.footer {
    height: 50px;
    display: grid;
    grid-template-columns: 860px 110px;
    grid-gap: 370px;
    grid-template-areas: "uno two";
    align-items: center;
}
.copy_right {
    font-size: 13px;
    color: #FFFFFF;
    grid-area: uno;
    line-height: initial;
}
.f_icon {
    grid-area: two;
}
.f_i_text {
    margin-bottom: 8px;
}
.icon__coloring {
    filter: grayscale(100%) brightness(0%) invert(100%);
    -webkit-filter: grayscale(100%) brightness(0%) invert(100%);
}
.scrollup {
    background-color: #FFFFFF;
    display: none;
    line-height: 30px;
    width: 70px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #18B4CF;
    text-decoration: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .14);
    border: 1px solid #18B4CF;
}
.toggle_btn {
    position: absolute;
    bottom: 10px;
    right: calc(50% - 110px);
    color: #18B4CF;
    background-color: #FFFFFF;
    border: 3px groove #18B4CF;
    font-size: 27px;
}