/*
.woff
.eot
.ttf
*/
@font-face {
    font-family: "MyCompanyFont";
    src: url("");
}
/*font-wedth: 100-900;*/
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}
.container {
    background: red;
}
.right {
    float: right;
    margin-left: 10px;
    height: 120px;
}
.clearfix {
    clear: both;
}
p {
  font-family: "lato" , sans-serif;
}
i {
    font-size: 30px;
    color: #16A085;
    filter: blur(12px);
}