body {
    margin: 0;
}
.container > * {
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
.left, .right {
    width: 200px;
}
.main, .bottom {
    width: 500px;
}
.left, .right, .bottom {
    height: 40px;
}
.main {
    height: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1430px;
}
@media (max-width:1430px) {
    .container {
        width: 920px;
        display: grid;
        grid-template-columns: 200px 500px 200px;
        grid-gap: 10px;
        grid-template-areas: "left main right" ". bottom .";
    }
    .main {
        grid-area: main;
    }
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }
    .bottom {
        grid-area: bottom;
    }
}
@media (max-width:910px) {
    .container {
        width: 100%;
        display: block;
    }
    .bottom {
        margin-left: 0;
    }
    .main, .bottom {
        width: calc(100%- 210px);
    }
    .left {
        float: left;
    }
    .main {
        float: right;
    }
    .bottom {
        float: right;
    }
    .right {
        float: left;
        margin-top: 10px;
    }
}