/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3,100px);*/
/*    grid-auto-rows: 50px 100px;*/
/*    grid-gap: 10px;*/
/*    !*grid-column-gap: ;*!*/
/*    !*grid-row-gap: ;*!*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*}*/
.container {
    height: 450px;
    display: grid;
    border: 2px solid crimson;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: repeat(3, 120px);
    grid-gap: 10px;
    justify-content: center;
    align-content: end;
    grid-template-areas: "one one one" "two three three" "two four five";
}
.child {
    background-color: gray;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
}
.child1 {
    /*grid-column-start: 1;*/
    /*grid-column-end: -1;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: span 3;*/
    /*grid-area: 1/1/3/-1; !*row-st/column-st/row-end/column-end*!*/
    grid-area: one;
}
.child2 {
    /*grid-row-start: 2;*/
    /*grid-row-end: 4;*/
    /*grid-row: span 2;*/
    grid-area: two;
}
.child3 {
    /*grid-column: span 2;*/
    grid-area: three;
}
.child4 {
    grid-area: four;
 }
.child5 {
    grid-area: five;
}