.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px repeat(3, auto) 100px;
    grid-gap: 10px;
    grid-template-areas: "header header"
                         "blocka main"
                         "blockb main"
                          "blockc main"
                          "footer footer";
}
.container > * {
    background-color: #2B54A5;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 20px;
}
.header {
    grid-area: header;
}
.block-a {
    grid-area: blocka;
    align-self: start;
}
.block-b {
    grid-area: blockb;
    align-self: center;
}
.block-c {
    grid-area: blockc;
    align-self: end;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}