body {
    margin: 0;
}
.card {
    margin: calc(50vh - 70px) auto;
    width: 140px;
    height: 140px;
    background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.title {
    line-height: 120px;
    vertical-align: middle;
    font-size: 1.3em;
    color: blue;
}
.description {
    font-size: 10px;

    display: none;
}

.btn {
    display: none;
}
.card:hover .title {
    line-height: initial;
    vertical-align: initial;
    font-size: initial;
    transition: all 1500ms;
}
.card:hover .description {
    display: block;
}
.card:hover .btn {
     display: initial;
 }
.card:hover