body {
    background-image: url("../images/0_layer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;
    height: 722px;
}
header {
    width: 100%;
    height: 54px;
    background: rgba(0,0,0,0.6);
}
.head_left {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: 14px;
    left: 61px;
}
.head_left:hover {
    color: #3CB878;
    transition: all 200ms;
}
.ics {
    position: absolute;
    top: 16px;
    right: 300px;
    border-right: 1px solid #32302E;
}
.head_line {
    position: absolute;
    top: 16px;
    right: 251px;
    color: #33302e;
}
.head_hrefs {
    position: absolute;
    top: 16px;
    right:71px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
.head_href {
    color: #3CB878;
    text-decoration: none;
}
.head_href:hover {
    text-decoration: underline;
}
.ic {
    background: url("../images/spritesheet.png");
    display: inline-block;
}
.ic.calendar {
    width: 19px;
    height: 19px;
    background-position: 0 -10px;
    padding: 0 10px;
}
.ic.calendar:hover {
    background-position: -39px -10px;
}
.ic.forum {
    width: 28px;
    height: 20px;
    background-position: 0 32px;
    padding: 0 10px;
}
.ic.forum:hover {
    background-position: -48px 32px;
}
.ic.journey{
    width: 20px;
    height: 20px;
    background-position: 35px -10px;
    padding: 0 10px;
}
.ic.journey:hover {
    background-position: 35px 30px;
}
form {
    position: relative;
    width: 444px;
    height: 584px;
    background: #ffffff;
    border-radius: 10px;
    margin: 42px auto;
}
.green_box {
    position: absolute;
    top: 22px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.form_sign {
    position: absolute;
    top: 22px;
    left: 45px;
    font-size: 20px;
}
.form_log {
    position: absolute;
    top: 22px;
    right: 45px;
    color: #3CB878;
    text-decoration: none;
}
.form_log:hover {
    text-decoration: underline;
}
.f_block {
    position: absolute;
    top: 57px;
    left: 45px;
    width: 174px;
    height: 47px;
    background-color: #305DB8;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.f_block:hover {
    background-color: #264B96;
}
.f_block:hover .hor_line_f {
    background-color: #224387;
}
.icon-facebook {
    position: absolute;
    top: 15px;
    left: 20px;
}
.f_word {
    color: #FFFFFF;
    width: 108px;
    height: 46px;
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 17px;
}
.hor_line_f {
    width: 1px;
    height: 30px;
    border-right: 1px solid #2B54A5;
    position: absolute;
    top: 7px;
    left: 45px;
}
.g_block {
    position: absolute;
    top: 57px;
    right: 45px;
    width: 174px;
    height: 47px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DF4A32;
    border-radius: 5px;
}
.g_block:hover {
    background-color: #C3412C;
}
.g_block:hover .hor_line_g {
    background-color: #AF3A28;
}
.icon-google-plus {
    position: absolute;
    top: 15px;
    left: 20px;
}
.g_word {
    color: #FFFFFF;
    width: 108px;
    height: 46px;
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 17px;
}
.hor_line_g {
    width: 1px;
    height: 30px;
    border-right: 1px solid #C8422D;
    position: absolute;
    top: 7px;
    left: 45px;
}
.input_name {
    width: 337px;
    height: 47px;
    position: absolute;
    top: 153px;
    left: 45px;
    padding-left: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}
.input_l_name {
    width: 337px;
    height: 47px;
    position: absolute;
    left: 45px;
    top: 212px;
    padding-left: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}
.input_email {
    width: 337px;
    height: 47px;
    position: absolute;
    left: 45px;
    top: 271px;
    padding-left: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}
.input_pass {
    width: 337px;
    height: 47px;
    position: absolute;
    left: 45px;
    top: 330px;
    padding-left: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}
.input_pass_r {
    width: 337px;
    height: 47px;
    position: absolute;
    left: 45px;
    top: 389px;
    padding-left: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}
input:focus {
    transition: all 300ms;
    box-shadow: -1px 2px 4px 2px rgba(0,0,0,0.1);
    outline: none;
}
::placeholder {
    color: #BEBEBE;
}
.separate_block {
    width: 354px;
    height: 1px;
    display: inline-block;
    border-bottom: 1px solid #EAEAEA;
    font-size: 14px;
    position: absolute;
    top: 132px;
    left: 45px;
}
.separate_line {
    position: absolute;
    top: -6px;
    left: 152px;
    height: 20px;
    color: #848484;
    width: 50px;
    background-color: #FFFFFF;
    text-align: center;
}
.form_check {
    position: absolute;
    left: 45px;
    top: 465px;
    display: inline-block;
}
.form_agree {
    text-decoration: none;
    color: #3CB878;
    cursor: pointer;
}
.form_agree:hover {
    text-decoration: underline;
}
.form_button {
    position: absolute;
    left: 45px;
    bottom: 35px;
    width: 353px;
    height: 47px;
    background-color: #3CB878;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form_button:hover {
    background-color: #329A65;
}