section {
    color: red;
    background-image: url(https://previews.123rf.com/images/peekeedee1/peekeedee11811/peekeedee1181100147/112670999-old-paper-texture-vintage-paper-background-or-texture-old-brown-paper-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
    letter-spacing: 5px;
    word-break: break-all;
    word-spacing: 20px;
    opacity: 0.5;
    border-width: 2px;
    border-radius: 10px;
    border-color: green;
    padding: 10px;
}