.form_field span {
    position: absolute;
    top: 10px;
    margin: 0;
    left: 10px;
    transition: all 200ms;
    color: gray;
    cursor: text;
}
.form_field input {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}
.form_field input:focus {
    border-color: blue;
}
.form_field input:focus + span {
    top: 0;
    font-size: 0.7em;
    color: blue;
    cursor: default;
}
.form_field input:valid + span {
    top: 0;
    font-size: 0.7em;
    cursor: default;
}



.file_field input {
    display: none;
}
.file_field {
    display: inline-block;
    padding: 5px 10px;
    background: #4BCAFF;
}


