body {
    background-image: url("../images/background.bmp.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    width: 1064px;
    margin: 0 auto;
}
header {
    width: 1064px;
    height: 45px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    width: 166px;
    height: 44px;
    position: relative;
    margin-top: 37px;
}
.orange_castle {
    display: none;
}
.logo:hover .orange_castle {
    display: inline-block;
    opacity: 1;
}
.logo:hover .castle {
    display: none;
}
.first_word {
    width: 104px;
    height: 22px;
    font-size: 29px;
    color: white;
    position: absolute;
    right: 3px;
    top: -7px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
.logo:hover .first_word {
    color: #F26522;
}
.second_word {
    width: 105px;
    height: 13px;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 1px;
    bottom: 5px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
.logo:hover .second_word {
    color: #F26522;
    transition: all 0.1ms;
}
.contacts {
    position: relative;
    color: white;
    font-size: 18px;
}
.mail {
    position: absolute;
    right: 6px;
    top: -40px;
}
.phone {
    position: absolute;
    right: 6px;
    bottom: 0;
}
.container {
    margin-top: 67px;
}
.main-content_1 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
    margin-right: 61px;
}
.main-content_2 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
    margin-right: 61px;
}
.main-content_3 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
}
.main-content_4 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
    margin-right: 61px;
    margin-top: 31px;
}
.main-content_5 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
    margin-right: 61px;
    margin-top: 31px;
}
.main-content_6 {
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    float: left;
    width: 314px;
    height: 244px;
    margin-top: 31px;
}
.tours {
    width: 308px;
    text-align: center;
    display: inline-block;
}
.tours:hover .bottom-word {
    color: #F26522;
}
.full-content {
    display: inline-block;
    border: 2px solid transparent;
    width: 307px;
    height: 200px;
    border-image:linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    border-image-slice:1;
}
.layer-1 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_1.png");
}
.layer-2 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_2.png");
}
.layer-3 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_3.png");
}
.layer-4 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_4.png");
}
.layer-5 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_5.png");
}
.layer-6 {
    width: 307px;
    height: 200px;
    background-image: url("../images/Layer_6.png");
}
.view-details {
    background: #F26522;
    width: 307px;
    height: 63px;
    position: relative;
    bottom: -137px;
    opacity: 0;
}
.tours:hover .view-details {
    opacity: 1;
}
.all-information {
    max-width: 102px;
    max-height: 63px;
    opacity: 0;
}
.tours:hover .all-information {
    opacity: 1;
}
.value {
    font-size: 10px;
    float: left;
    margin: 16px 21px 7px;
    line-height: 4px
}
.cost {
    font-size: 20px;
    float: left;
    margin: 0 21px;
}
.view-more {
    font-size: 14px;
    float: right;
    text-align: center;
    margin: auto 9px;
    opacity: 0;
}
.tours:hover .view-more {
    opacity: 1;
}
.bottom-word {
    padding-top: 15px;
    font-weight: bold;
}
footer {
    text-align: center;
    margin-top: 650px;
    display: block;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}