ul {
    list-style: none;
    padding-left: 0;
}
ul #marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #000;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    position: absolute;
    top: 25vh;
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}
.tabs-item {
    display: none;
}
.active-item {
    display: initial;

}
.tabs-content {
    position: absolute;
    top: 40vh;
}