html {
    width: 1280px;
    margin: 0 auto ;
}
span {
    text-align: center;
    text-decoration: none;
    padding: 40px 15px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 4px;
    font-family: Arial, sans-serif;
    color: #16A085;
}
img{
    background-size: cover;
}
section{
    background-color: #F5F6F7;
    text-align: center;
    line-height: 65px;
    padding: 25px 200px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
p{
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
button{
    display: inline-block;
    background-color: #16A085;
    border: none;
    color:white;
    width: 200px;
    line-height: 50px;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;
}
.copyright{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    padding: 25px 150px;
}
