section{
    font-family: Arial, sans-serif;
    text-align: center;
}
h1{
    font-size: 22px;
    text-transform: uppercase;
}
p{
    color: gray;
    font-size: 18px;

}
hr{
    margin: 50px auto;
    width: 55px;
    border: none;
    height: 2px;
    background-color: orange;
}
form{
    border: 1px solid gray;
}
input{
    border: none;
    padding: 22px 10px;
    line-height: 20px;
    width: calc(100% - 140px - 40px);
}
button{
    background-color: orange;
    color:white;
    border: none;
    padding: 22px 0px;
    line-height: 20px;
    width: 140px;
}
span {
    color: orange;
}
a{
    color: orange;
    text-decoration: none;
    white-space: nowrap;
}
main{
    max-height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}