.table-wrapper {
    width: 100%;
    max-width: 1192px;
    height: 100%;
    text-align: center;
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    margin: auto;
    box-sizing: border-box;
}
.table {
    border-top: 15px solid #3A4965;
    border-bottom: 15px solid #3A4965;
    border-right: 25px solid #3A4965;
    border-left: 25px solid #3A4965;
    background: #fafafa;
    border-spacing: 0;
}
tr:first-child th {
    font-weight: bold;
}
td {
    height: 70px;
}
.head_H1 {
    width: 311px;
    height: 150px;
    font-size: 18px;
    color: #484848;
}
.H1_dif{
    display: block;
    font-size: 30px;
}
th {
    width: 280px;
    height: 65px;
}
.head_st {
    background-color: #89C331;
    font-size: 24px;
    color: #FFFFFF;
}
.head_ul {
    background-color: #F04A56;
    font-size: 30px;
    color: #FFFFFF;
}
.head_pr {
    background-color: #20807C;
    font-size: 24px;
    color: #FFFFFF;
}
.price {
    position: relative;
}
.head_price {
    position: relative;
    font-weight: bold;
    font-size: 30px;
}
.head_value {
    font-size: 50px;
}
.head_value::before {
    content: '.99';
    position: absolute;
    left: 85px;
    font-size: 24px;
    top: 7px;
}
.awesome_icon {
    font-size: 24px;
    color: #848484;
    margin-right: 10px;
}
.line_01 {
    background-color: #F2F2F2;
}
.line_02 {
    background-color: #E3E3E3;
    border-left: 3px solid #DADADA;
}
.line_03 {
    background-color: #F2F2F2;
}
.line_04 {
    background-color: #E3E3E3;
}
.line_05 {
    background-color: #F2F2F2;
}
.line_06 {
    background-color: #E3E3E3;
}
button {
    width: 193px;
    height: 50px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: Arimo, bold;
    text-transform: uppercase;
}
.btn_1 {
    background: #3E3E3E;
    border-bottom: 7px solid #2C2C2C;
}
.btn_1:hover {
    background: #484848;
    border-bottom: 7px solid #404040;
}
.back_btn_1 {
    background: #DDDDDD;
}
.btn_2 {
    background: #89C331;
    border-bottom: 7px solid #79B027;
}
.btn_2:hover {
    background: #76A82B;
    border-bottom: 7px solid #6C9D23;
}
.back_btn_2 {
    background: #EEEEEE;
}
.btn_3 {
    background: #F04A56;
    border-bottom: 7px solid #DF3A46;
}
.btn_3:hover {
    background: #D7434E;
    border-bottom: 7px solid #C7343F;
}
.back_btn_3 {
    color: #F4F4F4;
}
.btn_4 {
    background: #20807C;
    border-bottom: 7px solid #16736F;
}
.btn_4:hover {
    background: #18605D;
    border-bottom: 7px solid #0F4C49;
}
.back_btn_4 {
    background: #EEEEEE;
}
tr:last-child {
    height: 85px;
}
.brdr {
    box-shadow: inset 3px 0 2px -1px #D7D8DB;
}
