* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    overflow: hidden;
    font-size: 5vw;
    line-height: 1.3;
}
.main_box {
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    transform: scale(0.9);

}
.main_text {
    position: absolute;
    top: 0;
    left: 13%;
    right: 13%;
    height: 100%;
    animation: slide 30s infinite;
}
.title {
    margin-bottom: 5rem;
}
h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
p {
    padding: 0.5rem 0;
}
@keyframes slide {
    0% {
        transform: rotateX(21deg)  translate3d(0, 100rem, 0);
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: rotateX(21deg) translate3d(0, -150rem, 0);
        opacity: 0;
    }
}